<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg">

  <div class="bg-primary vertical-padding">
    <div class="ion-text-center">
      <h4 class="text-white"><b>Ultima Sonora</b></h4>
    </div>
    <div class="ion-text-center">
      <span class="text-white text-job">Est 2007.</span>
    </div>
    <br>

    <div class="empty bg-secondary"></div>
    <div class="ion-text-center image-over-div">
      <img src="https://ultimasonora.weebly.com/uploads/2/5/3/7/25371606/5796110.png" alt=""
        class="image-round border-white">
    </div>
  </div>

  <ion-grid fixed class="bg-white border-bottom-soft">
    <ion-col size="10">
      <div class="ion-text-center">
        <small>Ultima Sonora adalah Paduan Suara Mahasiswa Universitas Multimedia Nusantara yang telah berdiri sejak
          2007. Dilatih oleh Antonius Ria Deni Sulistya, Ultima Sonora telah mencapai berbagai prestasi, yang salah
          satunya adalah Gold Diploma (kategori Folklore) serta dua Bronze Diploma (Kategori Mixed Voice dan Musica
          Sacra) di Singapore Internasional Choral Festival (SICF) Agustus 2016 lalu.</small>
      </div>
      <br><br>
    </ion-col>
    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <div class="ion-text-center">
          <small>@Jel7539y</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <small>UltimaSonora</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <small>@ultimasonora</small>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <img src="https://icon-library.net/images/line-icon-png/line-icon-png-15.jpg" alt="">
      </ion-col>
      <ion-col size="4">
        <img src="http://pluspng.com/img-png/facebook-transparent-logo-png-image-38347-1600.png" alt="">
      </ion-col>
      <ion-col size="4">
        <img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="bg-white border-bottom-soft">
    <ion-row class="ion-no-padding">
      <ion-col size="2">
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <small>@ultimasonora</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <small>Ultima Sonora</small>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col size="2">
      </ion-col>
      <ion-col size="4">
        <img src="http://www.pngall.com/wp-content/uploads/2016/07/Twitter-PNG-Clipart.png" alt="">
      </ion-col>
      <ion-col size="4">
        <img src="http://www.pngall.com/wp-content/uploads/2016/07/Youtube.png" alt="">
      </ion-col>
    </ion-row>
    <br>
  </ion-grid>

  <ion-card mode="ios">
    <ion-card-content class="ion-no-padding">
      <ion-list class="ion-no-padding" lines="none">
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://ultimasonora.weebly.com/uploads/2/5/3/7/25371606/5796110.png" />
          </ion-avatar>
          <ion-label>
            <h2>Ultima Sonora</h2>
            <p>2 Emas Thailand</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <img src="https://ultimagz.com/wp-content/uploads/ulson-min-381x381.jpg" alt="">
  </ion-card>

</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>